/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .section-bg {
    background-color: var(--section-bg-color);
  }
  
  .section-overlay {
    background: rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
  }
  
  .section-overlay + .container {
    position: relative;
  }
  
  
  
  /*---------------------------------------
    ABOUT              
  -----------------------------------------*/
  .about-section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .about-image {
    border-radius: var(--border-radius-medium);
    display: block;
    width: 350px;
    height: 400px;
    object-fit: cover;
  }
  
  .custom-text-block {
    padding: 60px 40px;
  }
  
  
  /*---------------------------------------
    COUNTER NUMBERS              
  -----------------------------------------*/
  .counter-thumb {
    margin: 20px;
    margin-bottom: 0;
  }
  
  .counter-number,
  .counter-text {
    color: var(--secondary-color);
    display: block;
  }
  
  .counter-number,
  .counter-number-text {
    color: var(--primary-color);
    font-size: var(--h1-font-size);
    font-weight: var(--font-weight-bold);
    line-height: normal;
  }