.icon{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://www.kindpng.com/picc/m/20-203381_sign-up-icon-png-login-and-signup-icon.png");
    height: 150px;
    width: 150px;
    
    
    
}
h1{
    font-size: 25;
}