.featured-block {
    text-align: center;
    transition: all 0.5s ease;
    min-height: 256px;
    padding: 15px;
  }
  
  .featured-block:hover {
    background: var(--white-color);
    border-radius: var(--border-radius-medium);
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  }
  
  .featured-block:hover .featured-block-image {
    transform: scale(0.75);
  }
  
  .featured-block-image {
    display: block;
    margin: auto;
    transition: all 0.5s;
  }
  
  .featured-block:hover .featured-block-text {
    margin-top: 0;
  }
  
  .featured-block-text {
    color: var(--primary-color);
    font-size: var(--h5-font-size);
    margin-top: 20px;
    transition: all 0.5s;
  }
  
  
  /*---------------------------------------
    ABOUT              
  -----------------------------------------*/
  .about-section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .about-image {
    border-radius: var(--border-radius-medium);
    display: block;
    width: 350px;
    height: 400px;
    object-fit: cover;
  }
  
  .custom-text-block {
    padding: 60px 40px;
  }
  
  
  /*---------------------------------------
    COUNTER NUMBERS              
  -----------------------------------------*/
  .counter-thumb {
    margin: 20px;
    margin-bottom: 0;
  }
  
  .counter-number,
  .counter-text {
    color: var(--secondary-color);
    display: block;
  }
  
  .counter-number,
  .counter-number-text {
    color: var(--primary-color);
    font-size: var(--h1-font-size);
    font-weight: var(--font-weight-bold);
    line-height: normal;
  }
  
  
  /*---------------------------------------
    VOLUNTEER              
  -----------------------------------------*/
  .volunteer-section {
    background: var(--secondary-color);
    position: relative;
    overflow: hidden;
  }
  
  .volunteer-section::after {
    content: "";
    background: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    bottom: -110px;
    right: -80px;
    width: 350px;
    height: 350px;
  }
  
  .volunteer-form {
    background: var(--white-color);
    border-radius: var(--border-radius-medium);
    padding: 50px;
  }
  
  .volunteer-image {
    border-radius: 100%;
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  
  .volunteer-section .custom-block-body {
    max-width: 440px;
    margin: 0 auto;
  }
  
  .volunteer-section .custom-block-body p {
    line-height: 1.7;
  }
  
  
  /*---------------------------------------
    DONATE              
  -----------------------------------------*/
  .donate-section {
    /*background-image: url('../images/different-people-doing-volunteer-work.jpg');*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
  }
  
  .donate-form {
    background: var(--white-color);
    border-radius: var(--border-radius-medium);
    position: relative;
    overflow: hidden;
    padding: 50px;
  }
  
  
  /*---------------------------------------
    NEWS         
  -----------------------------------------*/
  .news-detail-header-section {
    /*background-image: url('../images/news/close-up-volunteer-oganizing-stuff-donation.jpg');*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
  }
  
  .news-block-top {
    border-radius: var(--border-radius-medium);
    position: relative;
    overflow: hidden;
  }
  
  .news-block-two-col-image-wrap {
    border-radius: var(--border-radius-small);
    position: relative;
    overflow: hidden;
    width: 150px;
    margin-right: 20px;
  }
  
  .news-category-block {
    background: var(--secondary-color);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px 20px;
  }
  
  .news-category-block .category-block-link {
    color: var(--white-color);
    margin-right: 10px;
  }
  
  .news-block-info {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .news-block-title-link {
    color: var(--dark-color);
  }
  
  .news-detail-image {
    display: block;
    border-radius: var(--border-radius-medium);
  }
  
  blockquote {
    background: var(--section-bg-color);
    border-radius: var(--border-radius-small);
    font-size: var(--h5-font-size);
    font-weight: var(--font-weight-semibold);
    color: var(--site-footer-bg-color);
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 90px 50px 50px 50px;
    text-align: center;
  }
  
  blockquote::before {
    content: "“";
    color: var(--custom-btn-bg-color);
    font-size: 100px;
    line-height: 1rem;
    display: block;
  }
  
  .author-comment-link {
    font-size: var(--copyright-font-size);
    font-weight: var(--font-weight-semibold);
  }
  
  .search-form {
    margin-top: 20px;
  }
  
  .category-block,
  .subscribe-form {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .category-block-link {
    font-size: var(--copyright-font-size);
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .category-block-link:hover {
    color: var(--primary-color);
  }
  
  .badge {
    background: var(--secondary-color);
    border-radius: var(--border-radius-medium);
    font-weight: var(--font-weight-normal);
    line-height: normal;
    padding-bottom: 2px;
  }
  
  .tags-block-link {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-medium);
    display: inline-block;
    font-size: var(--copyright-font-size);
    line-height: normal;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px 15px;
  }
  
  .tags-block-link:hover {
    border-color: var(--dark-color);
    color: var(--dark-color);
  }
  
  .cta-section {
    position: relative;
    overflow: hidden;
  }
  
  .cta-section::before {
    content: "";
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: -30px;
    margin: auto;
    width: 200px;
    height: 200px;
  }
  
  .cta-section::after {
    content: "";
    border: 20px solid var(--custom-btn-bg-color);
    border-radius: 50%;
    position: absolute;
    bottom: -100px;
    right: 0;
    left: 0;
    margin: auto;
    width: 150px;
    height: 150px;
  }
  